<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Pendue</title>
</head>
<body>
    <div class="main">
      <h1 style="margin-top: 0;" id="topview" class="section">Parties Harry Potter récentes</h1>
      <div class="hp">
        <div class="box">
          <ul class="ullist1">
          </ul>
          <div class="more">
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="owner1" class="owner">Undefined</h1>
              </div>
                <button class="more">Voir plus</button>
          </div>
        </div>
        <div  class="box">
          <ul class="ullist2">
            
          </ul>
          <div class="more">
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="owner2" class="owner">Undefined</h1>
              </div>
                <button class="more">Voir plus</button>
          </div>
        </div>
        <div  class="box">
          <ul class="ullist3">
            
          </ul>
          <div class="more">
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="owner3" class="owner">Undefined</h1>
              </div>
                <button class="more">Voir plus</button>
          </div>
        </div>
        <div  class="box">
          <ul class="ullist4">
           
          </ul>
          <div class="more">
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="owner4" class="owner">Undefined</h1>
              </div>
                <button class="more">Voir plus</button>
          </div>
        </div>
      </div>
      <h1 class="section">Parties des joueurs récentes</h1>
      <div class="perso">
        <div id="lowbox" class="box">
          <div class="mainjj">
            <h1 id="infomot" class="info1">Mot a trouvé: <span style="font-weight: 600;" id="word1">Undefined</span></h1>
            <h1 id="infoessais" class="info1">score: <span style="font-weight: 600;" id="guess1">Undefined</span></h1>
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="ownerjj1" class="owner">Undefined</h1>
              </div>
          </div>
        </div>
        <div id="lowbox" class="box">
          <div class="mainjj">
            <h1 id="infomot" class="info1">Mot a trouvé: <span style="font-weight: 600;" id="word2">Undefined</span></h1>
            <h1 id="infoessais" class="info1">score: <span style="font-weight: 600;" id="guess2">Undefined</span></h1>
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="ownerjj2" class="owner">Undefined</h1>
              </div>
          </div>
        </div>
        <div id="lowbox" class="box">
          <div class="mainjj">
            <h1 id="infomot" class="info1">Mot a trouvé: <span style="font-weight: 600;" id="word3">Undefined</span></h1>
            <h1 id="infoessais" class="info1">score: <span style="font-weight: 600;" id="guess3">Undefined</span></h1>
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="ownerjj3" class="owner">Undefined</h1>
              </div>
          </div>
        </div>
        <div id="lowbox" class="box">
          <div class="mainjj">
            <h1 id="infomot" class="info1">Mot a trouvé: <span style="font-weight: 600;" id="word4">Undefined</span></h1>
            <h1 id="infoessais" class="info1">score: <span style="font-weight: 600;" id="guess4">Undefined</span></h1>
            <div class="row">
                <img src="./assets/Vector.png" class="iconowner" alt="plus">
                <h1 id="ownerjj4" class="owner">Undefined</h1>
              </div>
          </div>
        </div>
      </div>
      <h1 class="section">Trouver une partie avec identifiant</h1>
      <div class="recherche">
          <input id='input' class="id" type="text" id="search" placeholder="Identifiant de la partie">
          <div onclick="getid()" class="go"></div>
      </div>
      
    </div>
    <div id="scrollto" class="maintable">
      <div class="toolmain">
        <div class="infostats">
          <h2 class="stattitle">Statistiques</h2>
          <div class="divider"></div>
          <h3 class="stat"><span id="moyenne">8.9</span> en moyenne</h3>
          <h3 class="stat">Lancé par <span id="statowner">Maxence</span></h3>
          <h3 class="stat">Cet utilisateur a lancé <span id="launched">-</span> parties</h3>
        </div>
      </div>
      <div class="scoremain">
        <div class="infoscore">
          <h2 class="stattitle">Top 140</h2>
          <div class="divider"></div>
          <ul id="scorelist" class="score">
          </ul>
          </div>
      </div>
    </div>
</body>
<script src="./script.js"></script>
</html>