@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
	scroll-behavior: smooth;
}

body {
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: sora;
	box-sizing: border-box;
	margin: 0;
	box-sizing: border-box;
}


div.main {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
	

* {
	scrollbar-width: none;
	scrollbar-color: #ff6b00 #ffffff;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff6b00;
    border-radius: 12px;
    border: 4px solid #ffffff;
}

div.hp {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	
}

div.perso {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}

div.recherche {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 18px;
}

div.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 190px;
	border-radius: 10px;
	box-shadow: 6px 2px 60px 2px rgba(214, 214, 214, 0.52);
	margin-top: 18px;
}


@media screen and (min-width: 600px) {
	div.box {
		margin-right: 40px;
	}
}
ul{
	list-style-type: none;
	margin-bottom: 20px;
	width: 85%;
	margin-top: 0;
	padding: 0;
}

li {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#pseudo {
	font-size: 1.2em;
	font-weight: 200;
}

#score {
	font-weight: 600;
}

div.more {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

button.more {
	cursor: pointer;
	font-family: sora;
	width: 45%;
	height: 40px;
	border: none;
	background-color: #FF6B00;
	border-radius: 10px;
	color: #fff;
	font-size: 0.9em;
	font-weight: 300;
}

h1.owner {
	font-size: 1em;
	font-weight: 400;
}

div.row {
	display: flex;
	align-items: center;
}

img.iconowner {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

h1.section {
	font-size: 1.6em;
	margin: 0;
	font-weight: 200;
	margin-top: 40px;
}

div.mainjj {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h1.info1 {
	font-size: 1.2em;
	font-weight: 200;
    margin: 4px;
}

#lowbox {
	height: 150px;
}

input.id {
	outline: none;
	font-family: sora;
	width: 80%;
	height: 50px;
	border: none;
	border-radius: 7px;
	text-indent: 15px;
	border: 1px solid #C8C8C8;
	background-color: #FBFBFB;
	padding-left: 10px;
}

div.go {
	cursor: pointer;
	height: 54px;
	width: 54px;
	border-radius: 7px;
	margin-left: 15px;
	background-color: #FF6B00;
	background-image: url('./assets/arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}

div.maintable {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.show {
	animation: show 0.5s ease-in-out;
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

div.toolmain {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: 6px 2px 60px 2px rgb(225 225 225 / 52%)
}

div.scoremain {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: 6px 2px 60px 2px rgb(225 225 225 / 52%)
}

div.divider {
	width: 40%;
	height: 1px;
	margin-top: 10px;
	background-color: #e0e0e0;
}

h2.stattitle {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0;
}

div.infostats, div.infoscore {
	margin: 20px;
}

h3.stat {
	font-size: 1.2em;
	font-weight: 200;
	margin-top: 7px;
	margin-bottom: 7px;
}

#moyenne, #statowner, #launched {
	font-weight: 500;
}

li.scorelist {
	background-color: #FBFBFB;
	padding: 20px;
	margin-top: 20px;
	font-size: 1.2em;
	display: flex;
	min-width: 100%;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 10px;
}

#scorerank {
	margin-left: 05px;
	font-weight: 600;
}

#scorepseudo {
	font-weight: 300;
}

#scorestat {
	font-weight: 300;
}

div.button {
	min-width: 100%;
}

.chargement {
	width: auto;
    background-color: #FF6B00;
    position: fixed;
	top: 0;
    animation-name: chargement;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    z-index: 5000;
}


@keyframes chargement {
    from {
        width: 0px;
		height: 5px;
    }
    to {
        width: 70%;
		height: 5px;
    }
}



.endloaded {
	animation-name: endchargement;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes endchargement {
	from {
		height: 5px;
		width: 70%;
	}
	to {
		width: 100%;
		max-height: 0px;
	}
}

div.popup {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: none;
}

div.popupmain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
	width: 50%;
	background-color: #fff;
	border-radius: 10px;
}

h1.pseudo {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
p.content {
	margin-top: 10px;
	font-size: 1.1em;
	font-weight: 300;
}

p.disclaimer {
	margin-top: 0px;
	color: #878787;
	font-size: 1.0em;
	font-weight: 300;
	margin-bottom: 0;
}